{% extends 'emmang/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Page Contents -->
<div class="pusher" id="home">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item"><img class="logo" src="{{MEDIA_URL}}{% static "img/icon-white.png" %}" alt="" /> Logo</a>
        <div class="right item">
            <a class="ui inverted button" href="{% url 'emmang:portal' %}">
              {% if user.is_authenticated %}Portal{% else %}Iniciar sesión{% endif %}
            </a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Emmang
      </h1>
      <h2>Employee Managment App</h2>
    </div>
    
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>Safe</h3>
          <p>Proyecto para ingreso</p>
        </div>
        <div class="column">
          <h3>Diego Anaya</h3>
          <p>Programador</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">App</h3>
      <p>
        Emmang (<b>Em</b>ployee <b>Mann</b>a<b>g</b>ment) es un sistema de administración básico,
        que ayuda con la comunicación de un equipo de trabajo.
      </p>
      <h4 class="ui horizontal header divider">
        <a href="">Información técnica</a>
      </h4>
      <h3 class="ui header">Herramientas de desarrollo</h3>
      <p>
        Se utilizó Semantic UI para agilizar el proceso de Frontend Development.
        SASS se encarga de los detalles.
        Django en debugging mode conforma el Backend del proyecto.
      </p>
      <div class="ui basic center aligned segment">
          <a class="fluid ui primary basic button" href="{% url 'emmang:portal' %}">
            {% if user.is_authenticated %}Portal{% else %}Iniciar sesión{% endif %}
          </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
