{% load staticfiles %}

<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="{% url 'emmang:portal' %}" class="header item">
      <img class="logo" src="{% static "img/icon-white.png" %}">
      Emmang
    </a>
    <div class="ui simple dropdown item">Descubrir<i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{% url 'emmang:tareas' %}">Tareas</a>
        <a class="item" href="{% url 'emmang:empleados' %}">Empleados</a>
      </div>
    </div>
    <a href="{% url 'emmang:perfil_personal' %}" class="item">Mi perfil</a>
    <a href="{% url 'logout' %}" class="right item">Cerrar sesión</a>
  </div>
</div>
