{% extends 'emmang/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
{% include 'emmang/navbar.html' %}
<div class="ui main text container contenido-portal">
  <div class="ui segment">

    <div class="ui left very close rail">
      <div class="ui segment">
        <h3>Últimos 20 archivos</h3>
        <div class="ui list">
          {% for tarea in tarea_archivo %}
          <a class="item" href="{{tarea.archivo.url}}">
            <i class="download icon"></i><div class="content">{{tarea.archivo}}</div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="ui right very close rail">
      <div class="ui segment">
        <h3>Espacio en disco</h3>
        <div class="ui teal progress" data-percent="{{usage}}" id="used-space">
            <div class="bar">
                <div class="progress"></div>
            </div>
            <div class="label">Espacio utilizado</div>
        </div>
        <p>Gb utilizados: {{gbused|floatformat:2}}</p>
        <p>Gb disponibles para el equipo: {{gbdef|floatformat:2}}</p>
      </div>
    </div>

    <div class="ui basic segment">
      <h2 class="ui center aligned header">Últimos 10 posts</h2>
      <div class="ui relaxed divided list">
        {% for tarea in tareas %}
        <div class="item">
          {% if tarea.archivo %}
            {% if '.pdf' in tarea.archivo.name %}
                <i class="large file pdf outline middle aligned icon"></i>
            {% elif '.word' in tarea.archivo.name %}
                <i class="large file word outline middle aligned icon"></i>
            {% elif '.txt' in tarea.archivo.name %}
                <i class="large file text outline middle aligned icon"></i>
            {% else %}
                <i class="large file image outline middle aligned icon"></i>
            {% endif %}
          {% else %}
            <i class="large idea middle aligned icon"></i>
          {% endif %}
          <div class="content">
            <a class="header" href="{% url 'emmang:tarea' pk=tarea.pk %}">{{tarea.tema}}</a>
            <div class="description">Tarea creada {{tarea.fecha|naturaltime|lower}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% include 'emmang/footer.html' %}
{% endblock content %}


{% block heavyjs %}
<script type="text/javascript" charset="utf-8">
    $('#used-space').progress();
</script>
{% endblock %}
