body {
  height: auto;
}

.contenido-portal {
  margin-top: 6rem;
  min-height: 70vh;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 2em 0em;
}

.ui.separated.segment, .ui.separated.comments {
  margin-top: 5rem;
}

.ui.separated.form {
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.ui.separated.header {
  margin-top: 5rem;
}

.ui.big.card {
  width: 500px;
}
